/** @format */
/** @format */

:root {
    --black-98: rgba(250, 250, 250, 1);
    --black-12: rgba(26, 24, 30, 1);
    --black-30: rgba(77, 77, 77, 1);
    --black-100: rgba(255, 255, 255, 1);
    --black-95: rgba(242, 242, 242, 1);
    --primary-blue: rgba(20, 110, 180, 1);
    --black-50: rgba(128, 128, 128, 1);
    --black-60: rgba(153, 153, 153, 1);
    --black-85: rgba(217, 217, 217, 1);
    --secondary-green: rgba(23, 179, 27, 1);
    --hoverblue: rgba(14, 79, 130, 1);
    --black-90: rgba(230, 230, 230, 1);
    --secondary-navbar: rgba(30, 38, 64, 1);
    --primary-orange: rgba(238, 116, 31, 1);
    --heading-h5-font-family: "GalanoGrotesque-Medium", Helvetica;
    --heading-h5-font-weight: 500;
    --heading-h5-font-size: 20px;
    --heading-h5-letter-spacing: 0px;
    --heading-h5-line-height: 28px;
    --heading-h5-font-style: normal;
    --caption-regular-font-family: "GalanoGrotesque-Regular", Helvetica;
    --caption-regular-font-weight: 400;
    --caption-regular-font-size: 12px;
    --caption-regular-letter-spacing: 0px;
    --caption-regular-line-height: 16px;
    --caption-regular-font-style: normal;
    --sub-title-regular-font-family: "Inter-Regular", Helvetica;
    --sub-title-regular-font-weight: 400;
    --sub-title-regular-font-size: 16px;
    --sub-title-regular-letter-spacing: 0px;
    --sub-title-regular-line-height: 24px;
    --sub-title-regular-font-style: normal;
    --body-2-medium-font-family: "GalanoGrotesque-Medium", Helvetica;
    --body-2-medium-font-weight: 500;
    --body-2-medium-font-size: 14px;
    --body-2-medium-letter-spacing: 0px;
    --body-2-medium-line-height: 20px;
    --body-2-medium-font-style: normal;
    --body-2-regular-font-family: "Inter-Regular", Helvetica;
    --body-2-regular-font-weight: 400;
    --body-2-regular-font-size: 14px;
    --body-2-regular-letter-spacing: 0px;
    --body-2-regular-line-height: 20px;
    --body-2-regular-font-style: normal;
    --body-1-medium-font-family: "Inter-Medium", Helvetica;
    --body-1-medium-font-weight: 500;
    --body-1-medium-font-size: 15px;
    --body-1-medium-letter-spacing: 0px;
    --body-1-medium-line-height: 22px;
    --body-1-medium-font-style: normal;
    --sub-body-regular-font-family: "Inter-Regular", Helvetica;
    --sub-body-regular-font-weight: 400;
    --sub-body-regular-font-size: 13px;
    --sub-body-regular-letter-spacing: 0px;
    --sub-body-regular-line-height: 16px;
    --sub-body-regular-font-style: normal;
    --sub-title-medium-font-family: "Inter-Medium", Helvetica;
    --sub-title-medium-font-weight: 500;
    --sub-title-medium-font-size: 16px;
    --sub-title-medium-letter-spacing: 0px;
    --sub-title-medium-line-height: 24px;
    --sub-title-medium-font-style: normal;
    --shadow-card: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
    --spacings-spacing-spacing-04: 8px;
}
